bs4==0.0.2
colorlog==6.9.0
dashscope==1.24.0
hf-xet==1.1.5
langchain-community==0.3.27
langchain-deepseek==0.1.4
langchain-mcp-adapters==0.1.11
langchain-ollama==0.2.3
lxml==6.0.0
mcp-server==0.1.4
mysql-connector-python==9.4.0
mysqlclient==2.2.7
pip==26.0.1
PyMySQL==1.1.1
python-a2a==0.5.4
rich==14.2.0
schedule==1.2.2
setuptools==78.1.1
streamlit==1.47.1
torch==2.7.1
transformers==4.54.1
wheel==0.45.1